@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#delanistudio {
    padding-top: 14%;
    margin-bottom: 9%;
}

#head {
    background-image: url('../images/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

h6 {
    height: 1vh;
}

#aboutsection {
    margin-top: 50px;
    margin-bottom: 50px;
}

.changesize {
    font-size: 20px;
}

#aboutsectionsection,
#service,
#people,
.second,
#contactsection,
.footer p {
    font-family: 'Maiden Orange', cursive
    ;
}