@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

@media screen and (max-width:1024px) {
    * {
        font-size: calc(1vw + 1vh + .5vmin);
    }
}

@media screen and (max-width:450px) {
    .form-cont input {
        width: 100%;
        margin-top: 10px;
    } 
    body{
        overflow-x: hidden;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#delanistudio {
    padding-top: 14%;
    margin-bottom: 9%;
}

#head {
    background-image: url('../images/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


h1 {
    font-family: 'Fredericka the Great', cursive;
}
h6 {
    height: 1vh;
}


.col-md-12 {
    width: 100%;
    color: #fff;
    font-family: 'Maiden Orange', cursive;
    font-size: calc(1vw + 1vh + .5vmin);
    font-size: 1.1em;
}

.para {
    padding: 5% 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 50px 10px;
    font-weight: 100%;
    padding-top: 30px;
    border: 4px dotted red;
    font-size: 1.1em;
    line-height: 90%;
    margin: 20% 5%;
    overflow: hidden;
    letter-spacing: 2px;
    font-family: 'Maiden Orange', cursive;
}

.changesize {
    font-size: 20px;
    font-style: 'Maiden Orange', cursive;
    text-align: center;
}

#aboutsection {
    margin-top: 50px;
    margin-bottom: 50px;
}

#servicesection {
    background-image: url('../images/s_image.jpg');
    color: #fff;
    margin-bottom: 50px;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 80px;
}


#aboutsection,
#servicesection,
#people,
.second,
#contactsection,
.footer p {
    font-family: 'Maiden Orange', cursive
    ;
}


.card-deck {
    padding: 1% 4%;
}



.hide {
    margin-top: 15%;
}

.second {
    margin-bottom: 4%;
}


.hidden {
    display: block;
    color: black;
}



.nameDetail{
    font-size: larger;
}

.form-cont textarea {
    margin-top: 10px;
    width: 100%;
    background: transparent;
}

#contactsection {
    padding-top: 100px;
    margin-bottom: 50px;
    background-image: url('../images/c_image.jpg');
    background-size: cover;
    background-position: cover;
    width: 100%;
    max-width: 100%;
    margin-top: 10%;
}

.contact {
    padding-bottom: 30px;
}

.whatwedo {
    margin-bottom: 30px;
}


.footermain {
    margin-top: 30px;
}

.form-cont {
    text-align: center;
    position: relative;
    width: 700px;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%);
}
.form-cont input {
    width: 49%;
    background: transparent;
}

::placeholder,
.contact {
    color: #fff;
}
::placeholder{
    font-size: 20px;
}

.firstimage {
    padding-top: 9%;
    margin-bottom: 3%;
}

.secondimage {
    margin-top: 20%;
    padding: 35px 0;
}


.socialsimages img {
    border-radius: 50%;
    transition: 0.2s ease-out;
}

.socialsimages img:hover {
    box-shadow: 0 0 20px rgb(0, 0, 0);
    margin: -3px;
    padding: 3px;
    background: yellowgreen;
}

#port img {
    width: 100%;
}

.firstcard {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.582);
    cursor: cell;
    display: none;
    transition: all 0.9s ease;
}


.card {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}

.card:hover img {
    transform: scale(1.2);
    transition: all 0.5s ease;
}






.message {
    background-color: transparent;

}