@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#delanistudio {
    padding-top: 14%;
    margin-bottom: 9%;
}